@use '@/assets/styles/variables' as *;
@use '@/assets/styles/typography' as *;
@use '@/assets/styles/reset' as *;

/* ***********************************
 * 로그인
 *********************************** */
.login-page {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 600px;

  display: flex;

  > * {
    &.left {
      width: 40%;
      padding: 60px 60px 50px 50px;
      background-color: $color-dark;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap;

      > i {
        text-align: right;

        &::before {
          font-size: 100px;
          color: $color-light;
          opacity: 0.3;
        }
      }

      > h1 {
        font-size: 48px; // Exc: 서비스 타이틀
        font-weight: 600;
        line-height: 1.4;
        color: $color-light;
      }
    }

    &.right {
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      > h4 {
        width: 400px;
        margin-bottom: 40px;
        color: $color-dark;
        font-weight: 900;
        display: flex;

        > i {
          margin-right: 10px;

          &::before {
            font-size: 21px;
          }
        }
      }

      form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 20px;

          > li {
            width: 400px;
            position: relative;

            &.line-option {
              display: flex;
              align-items: center;

              > :last-child {
                margin-left: auto;
              }

              > * {
                font-size: 16px;
              }

              > :first-child {
                color: $color-main;
                margin-right: 10px;

                &.on {
                  color: $color-dark;
                }

                &.off {
                  color: $color-gd;
                }
              }

              > p {
                line-height: 1px;
                color: $color-g9;

                &.remember-login-text {
                  cursor: pointer;
                  font-weight: 600;
                  color: $color-g6;
                  user-select: none;
                }
              }

              > a {
                font-weight: 600;
                line-height: 18px;
                color: $color-dark;
                display: flex;

                > i {
                  margin-left: 5px;

                  &::before {
                    font-size: 18px;
                  }
                }
              }
            }

            > input[type='text'],
            > input[type='password'] {
              width: 100%;
              height: 60px;

              border: 1px solid $color-gb;
              border-radius: 5px;
              padding: 15px 60px;

              ~ i.left {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                padding-left: 20px;
                color: $color-gb;
              }

              ~ i.eye {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                padding-right: 20px;
                color: $color-gb;
              }

              ~ i.eye-on {
                color: $color-dark;
              }

              &:focus {
                outline-offset: 0;
                border: 1px solid $color-main;
                outline: 5px solid $color-outline;

                color: $color-dark;
                font-weight: 600;

                ~ i.left {
                  color: $color-main;
                }
              }
            }

            > input[type='submit'] {
              width: 100%;
              height: 60px;
              border-radius: 5px;
              background-color: $color-dark;
              color: $color-w;
              font-weight: 600;
              font-size: 18px;
              cursor: pointer;
              // letter-spacing: 2px;
            }
          }
        }
      }
    }
  }
}

/* ***********************************
 * 회원가입
 *********************************** */
.signup-page {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

  .signup-header {
    margin: 70px 40px 60px 40px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    border-bottom: 6px solid $color-light;
    border-radius: 3px;

    i {
      font-size: 60px;

      &::before {
        position: 0;
        font-size: 60px;
        color: $color-main;
      }
    }

    .right {
      display: flex;
      flex-direction: column;

      h1 {
        margin-bottom: 20px;
        color: $color-dark;
      }
    }
  }

  .signup-contents {
    margin: 0 40px 60px 40px;

    ul {
      display: flex;
      flex-direction: column;
      gap: 60px;

      > li .signup-list-content {
        width: 100%;
        height: auto;

        > h4 {
          font-size: 18px;
          margin-bottom: 20px;
          display: flex;
          align-items: center;
          gap: 8px;

          > i {
            height: 10px;

            &::before {
              font-size: 10px;
            }
          }
        }
      }

      .button-group {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 40px;
      }
    }
  }
}
